

[Unit]
Description=Start XMRig and Deroluna Miners
After=network.target

[Service]
ExecStart=/home/wendell/hansen/hansen.sh
Restart=always
#User=wendell  # Descomente e ajuste conforme necessário
StandardOutput=journal
StandardError=journal
SyslogIdentifier=miners
Nice=10
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
